
*.user

CarRentalClientBase

build-5.14.2/CarRentalClientsBase/main_qml.o

build-5.14.2/CarRentalClientsBase/main.o

build-5.14.2/CarRentalClientsBase/qmlcache_loader.o

build-5.14.2/CarRentalClientsBase/qrc_qml.o

CarRentalClientsBase.debug

CarRentalClientsBase

build-5.14.2/app/app

build-5.14.2/app/main.o

build-5.14.2/app/qrc_qml.o

LinkList.h.autosave

*.o

build-5.14.2/testFile.txt

build-5.11.0/app/

*.autosave
